* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.topo {
    display: flex;
    padding: 20px 0;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
}

.topo h1 {
    color: #77ffc0;
    margin-left: 40px;
    font-family: 'sans-serif';
}

.menu {
    margin-left: 180px;
    display: flex;
    gap: 80px;
}

.menu a {
    font-size: 16px;
    color: #77ffc0;
    font-weight: bold;
    text-decoration: none;
}

.fa-regular .fa-solid .menuInicio {
    display: grid;
    grid-template-columns: auto auto; /* Cria duas colunas, uma para menuInicio e outra para icons */
    gap: 20px; /* Define o espaçamento entre as colunas */  
}

.icons {
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.icons a {
    color: #77ffc0;
}

.menuInicio {
    font-size: 30px;
    display: flex;
}

.menuInicio i {
    margin-right: 10px;
}

body {
    background-color: #201b2c;
    color: #77ffc0;
}

.imagem .img1 {
    height: 400px;
    object-fit: cover;
    margin: 20px;
}

.fa-solid,
.fa-regular {
    padding-top: 20px;
}
