* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}

.topo {
    display: flex;
    padding: 20px 0;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
}

.topo h1 {
    color: #77ffc0;
    margin-left: 40px;
    font-family: 'sans-serif';
}

.menu {
    margin-left: 180px;
    display: flex;
    gap: 80px;
}

.menu a {
    font-size: 16px;
    color: #77ffc0;
    font-weight: bold;
    text-decoration: none;
}

.fa-regular .fa-solid .menuInicio {
    display: grid;
    grid-template-columns: auto auto; /* Cria duas colunas, uma para menuInicio e outra para icons */
    gap: 20px; /* Define o espaçamento entre as colunas */  
}

.icons {
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.icons a {
    color: #77ffc0;
}

.menuInicio {
    font-size: 30px;
    display: flex;
}

.menuInicio i {
    margin-right: 10px;
}

body {
    background-color: #201b2c;
    color: #77ffc0;
}

.img2{
    height: 500px;
    width: 350px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 20px;
    flex-wrap: wrap;
    flex-shrink: 1;
    opacity: 70%;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.img2:hover{
    opacity: 100%;
}

p{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 40px;
}

.fa-plus{
    border-radius: 360px;
    border-width: 4px;
    border-color:#77ffc0;
    border-style: solid;
}

.redes-sociais {
    color: #77ffc0;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.redes-sociais i {
    margin-right: 25px;
}

.redes-sociais a {
    color: #77FFC0;
}
