* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.agrupar {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.direita img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    margin: 20px 0px;
    margin-left: 800px;
    cursor: pointer;
}

.direita img.ativo {
    border: 2px solid #77ffc0;
}

.logo-anime {
    width: 250px;
    height: 100px;
    margin-top: 100px;
    margin-left: 50px;
}

h1 {
    color: white;
    margin-left: 45px;
    font-size: 50px;
}

p {
    color: white;
    margin-left: 45px;
}

.icon {
    font-size: 30px;
    margin: 30px 50px;
}

.icon a {
    color: white;
}

body.ichigo {
    background-image: url('assets/imagem-com-sombra/ichigo-pf.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.byakuya {
    background-image: url('assets/imagem-com-sombra/byakuia-pf.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.kenpachi {
    background-image: url('assets/imagem-com-sombra/kenpachi-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.orihime {
    background-image: url('assets/imagem-com-sombra/orohime-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.renji {
    background-image: url('assets/imagem-com-sombra/renji-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.rukia {
    background-image: url('assets/imagem-com-sombra/rukia-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.sosuke {
    background-image: url('assets/imagem-com-sombra/sosuke-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.toshiro {
    background-image: url('assets/imagem-com-sombra/toshiro-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.uryu {
    background-image: url('assets/imagem-com-sombra/uryu-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.yoruichi {
    background-image: url('assets/imagem-com-sombra/yoruichi-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}