* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.agrupar {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.direita img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    margin: 20px 0px;
    margin-left: 800px;
    cursor: pointer;
}

.direita img.ativo {
    border: 2px solid #77ffc0;
}

.logo-anime {
    width: 280px;
    height: 180px;
    margin-top: 100px;
    margin-left: 50px;
}

h1 {
    color: white;
    margin-left: 45px;
    font-size: 50px;
}

p {
    color: white;
    margin-left: 45px;
}

.icon {
    font-size: 30px;
    margin: 30px 50px;
}

.icon a {
    color: white;
}

body.yuji {
    background-image: url('assets/imagem-com-sombra/yuij-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.gojo {
    background-image: url('assets/imagem-com-sombra/gojo-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.fushiguro {
    background-image: url('assets/imagem-com-sombra/fushiguro-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.inumaki {
    background-image: url('assets/imagem-com-sombra/inumaki-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.maki {
    background-image: url('assets/imagem-com-sombra/maki-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.nanami {
    background-image: url('assets/imagem-com-sombra/nanami-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.nobara {
    background-image: url('assets/imagem-com-sombra/nobara-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.panda {
    background-image: url('assets/imagem-com-sombra/panda-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.suguru {
    background-image: url('assets/imagem-com-sombra/suguru-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.yuta {
    background-image: url('assets/imagem-com-sombra/yuta-wp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}