* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.agrupar {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.direita img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    margin: 20px 0px;
    margin-left: 800px;
    cursor: pointer;
}

.direita img.ativo {
    border: 2px solid #77ffc0;
}

.logo-naruto {
    width: 200px;
    height: 100px;
    margin-top: 100px;
    margin-left: 50px;
}

h1 {
    color: white;
    margin-left: 45px;
    font-size: 50px;
}

p {
    color: white;
    margin-left: 45px;
}

.icon {
    font-size: 30px;
    margin: 30px 50px;
}

.icon a {
    color: white;
}

body.naruto {
    background-image: url('src/assets/imagem-com-sombra/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.sasuke {
    background-image: url('src/assets/imagem-com-sombra/2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.sakura {
    background-image: url('src/assets/imagem-com-sombra/3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.kakashi {
    background-image: url('src/assets/imagem-com-sombra/4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.minato {
    background-image: url('src/assets/imagem-com-sombra/5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.itachi {
    background-image: url('src/assets/imagem-com-sombra/6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.jiraiya {
    background-image: url('src/assets/imagem-com-sombra/7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.obito {
    background-image: url('src/assets/imagem-com-sombra/8.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.kurama {
    background-image: url('src/assets/imagem-com-sombra/9.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.neji {
    background-image: url('src/assets/imagem-com-sombra/10.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
